
<h1>Users</h1>
<a class="btn btn-primary" routerLink="/users/new">Add User</a>

<div class="container">
  <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersList">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><a><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
      <td><a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
    </tr>
    </tbody>
  </table>
</div>

